h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Oleo Script', 'Oxygen', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sans {
  font-family: 'Roboto', 'Oxygen', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.serif {
  font-family: 'Oleo Script', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
